<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Leituras Biblícas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card (click)="onCardClicked()">
    <ion-card-header>
      Lucas 18:9-14 - O Fariseu e o Publicano
    </ion-card-header>
    <ion-card-content *ngIf="cardClicked">
      A alguns que confiavam em sua própria justiça e desprezavam os outros, Jesus contou esta parábola: "Dois homens subiram ao
      templo para orar; um era fariseu e o outro, publicano. O fariseu, em pé, orava no íntimo: 'Deus, eu te agradeço porque
      não sou como os outros homens: ladrões, corruptos, adúlteros; nem mesmo como este publicano. Jejuo duas vezes por semana
      e dou o dízimo de tudo quanto ganho'. "Mas o publicano ficou a distância. Ele nem ousava olhar para o céu, mas batendo
      no peito, dizia: 'Deus, tem misericórdia de mim, que sou pecador'. "Eu digo que este homem, e não o outro, foi para
      casa justificado diante de Deus. Pois quem se exalta será humilhado, e quem se humilha será exaltado".
    </ion-card-content>
  </ion-card>

  <ion-card (click)="onCardClicked2()">
    <ion-card-header>
      Lucas 15:11-21 - Filho Pródigo
    </ion-card-header>
    <ion-card-content *ngIf="cardClicked2">
      Jesus continuou: "Um homem tinha dois filhos. O mais novo disse ao seu pai: 'Pai, quero a minha parte da herança'. Assim,
      ele repartiu sua propriedade entre eles. "Não muito tempo depois, o filho mais novo reuniu tudo o que tinha e foi para
      uma região distante; e lá desperdiçou os seus bens vivendo irresponsavelmente. Depois de ter gasto tudo, houve uma
      grande fome em toda aquela região, e ele começou a passar necessidade. Por isso foi empregar-se com um dos cidadãos
      daquela região, que o mandou para o seu campo a fim de cuidar de porcos. Ele desejava encher o estômago com as vagens
      de alfarrobeira que os porcos comiam, mas ninguém lhe dava nada. "Caindo em si, ele disse: 'Quantos empregados de meu
      pai têm comida de sobra, e eu aqui, morrendo de fome! Eu me porei a caminho e voltarei para meu pai e lhe direi: Pai,
      pequei contra o céu e contra ti. Não sou mais digno de ser chamado teu filho; trata-me como um dos teus empregados'.
      A seguir, levantou-se e foi para seu pai. "Estando ainda longe, seu pai o viu e, cheio de compaixão, correu para seu
      filho, e o abraçou e beijou. "O filho lhe disse: 'Pai, pequei contra o céu e contra ti. Não sou mais digno de ser chamado
      teu filho'.
    </ion-card-content>
  </ion-card>
  <ion-card (click)="onCardClicked3()">
    <ion-card-header>
      Atos dos Apóstolos 16 - Paulo e Silas na prisão
    </ion-card-header>
    <ion-card-content *ngIf="cardClicked3">
      Certo dia, indo nós para o lugar de oração, encontramos uma escrava que tinha um espírito pelo qual predizia o futuro. Ela
      ganhava muito dinheiro para os seus senhores com adivinhações. Essa moça seguia Paulo e a nós, gritando: "Estes homens
      são servos do Deus Altíssimo e anunciam o caminho da salvação". Ela continuou fazendo isso por muitos dias. Finalmente,
      Paulo ficou indignado, voltou-se e disse ao espírito: "Em nome de Jesus Cristo eu ordeno que saia dela!" No mesmo instante
      o espírito a deixou. Percebendo que a sua esperança de lucro tinha se acabado, os donos da escrava agarraram Paulo
      e Silas e os arrastaram para a praça principal, diante das autoridades. E, levando-os aos magistrados, disseram: "Estes
      homens são judeus e estão perturbando a nossa cidade, propagando costumes que a nós, romanos, não é permitido aceitar
      nem praticar". A multidão ajuntou-se contra Paulo e Silas, e os magistrados ordenaram que se lhes tirassem as roupas
      e fossem açoitados. Depois de serem severamente açoitados, foram lançados na prisão. O carcereiro recebeu instrução
      para vigiá-los com cuidado. Tendo recebido tais ordens, ele os lançou no cárcere interior e lhes prendeu os pés no
      tronco. Por volta da meia-noite, Paulo e Silas estavam orando e cantando hinos a Deus; os outros presos os ouviam.
      De repente, houve um terremoto tão violento que os alicerces da prisão foram abalados. Imediatamente todas as portas
      se abriram, e as correntes de todos se soltaram. O carcereiro acordou e, vendo abertas as portas da prisão, desembainhou
      sua espada para se matar, porque pensava que os presos tivessem fugido. Mas Paulo gritou: "Não faça isso! Estamos todos
      aqui!" O carcereiro pediu luz, entrou correndo e, trêmulo, prostrou-se diante de Paulo e Silas. Então levou-os para
      fora e perguntou: "Senhores, que devo fazer para ser salvo?" Eles responderam: "Creia no Senhor Jesus, e serão salvos,
      você e os de sua casa". E pregaram a palavra de Deus, a ele e a todos os de sua casa. Naquela mesma hora da noite o
      carcereiro lavou as feridas deles; em seguida, ele e todos os seus foram batizados. Então os levou para a sua casa,
      serviu-lhes uma refeição e com todos os de sua casa alegrou-se muito por haver crido em Deus. Quando amanheceu, os
      magistrados mandaram os seus soldados ao carcereiro com esta ordem: "Solte estes homens". O carcereiro disse a Paulo:
      "Os magistrados deram ordens para que você e Silas sejam libertados. Agora podem sair. Vão em paz". Mas Paulo disse
      aos soldados: "Sendo nós cidadãos romanos, eles nos açoitaram publicamente sem processo formal e nos lançaram na prisão.
      E agora querem livrar-se de nós secretamente? Não! Venham eles mesmos e nos libertem". Os soldados relataram isso aos
      magistrados, os quais, ouvindo que Paulo e Silas eram romanos, ficaram atemorizados. Vieram para se desculpar diante
      deles e, conduzindo-os para fora da prisão, pediram-lhes que saíssem da cidade. Depois de saírem da prisão, Paulo e
      Silas foram à casa de Lídia, onde se encontraram com os irmãos e os encorajaram. E então partiram.
    </ion-card-content>
  </ion-card>
</ion-content>
